<div class="content">

    <h2>Carteiras</h2>
    <label >Para cada ativo, selecione e digite o valor a ser investido.</label> <br>
    <div>
        <label for="select">Ativo 1</label> <br>
        <select class="form-control" [(ngModel)] = "ativo1" >
          <option *ngFor="let ativo of listAtivos" [ngValue]="ativo.id"> 
            {{ativo.stock}} 
          </option>
        </select>
        <label for="select">Valor do Ativo 1</label> <br>
        <input currencyMask class="form-control" type="text" value='0' [options]="{ prefix: 'R$ ', thousands: ',', precision: 0 }" >
    </div>
    <br> 
    <div>
        <label for="select">Ativo 2</label> <br>
        <select class="form-control" [(ngModel)] = "ativo2" >
          <option *ngFor="let ativo of listAtivos" [ngValue]="ativo.id"> 
            {{ativo.stock}} 
          </option>
        </select>
        <label for="select">Valor do Ativo 2</label> <br>
        <input currencyMask class="form-control" type="text" value='0' [options]="{ prefix: 'R$ ', thousands: ',', precision: 0 }" >
    </div>
    <br>
    <div>
        <label for="select">Ativo 3</label> <br>
        <select class="form-control" [(ngModel)] = "ativo3" >
          <option *ngFor="let ativo of listAtivos" [ngValue]="ativo.id"> 
            {{ativo.stock}} 
          </option>
        </select>
        <label for="select">Valor do Ativo 3</label> <br>
        <input currencyMask class="form-control" type="text" value='0' [options]="{ prefix: 'R$ ', thousands: ',', precision: 0 }" >
    </div>
    <br>
    <div>
        <label for="select">Ativo 4</label> <br>
        <select class="form-control" [(ngModel)] = "ativo4" >
          <option *ngFor="let ativo of listAtivos" [ngValue]="ativo.id"> 
            {{ativo.stock}} 
          </option>
        </select>
        <label for="select">Valor do Ativo 4</label> <br>
        <input currencyMask class="form-control" type="text" value='0' [options]="{ prefix: 'R$ ', thousands: ',', precision: 0 }" >
    </div>
    <br>
    <button class="btn btn-warning">Calcular</button>
</div>
