<div class="content">

    <h2>Carteiras</h2>
    <div>
        <label for="select">Escolha uma carteira:</label> <br>
        <select class="form-control" [(ngModel)] = "ativos" >
          <option *ngFor="let carteira of carteiras" [ngValue]="carteira.ativos"> 
            {{carteira.nome}} 
          </option>
        </select>
    </div>
    <div>
        <table class="table">
            <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Rendimento</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">% Total</th>
                        <th scope="col">Rentabilidade Nominal</th>
                        <th scope="col">Rentabilidade Ponderada</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ativo of ativos">
                    <td>{{ativo.titulo}}</td>
                    <td>{{ativo.rendimento}}</td>
                    <td>{{ativo.qtd}}</td>
                    <td>{{ativo.percentTotal}}</td>
                    <td>{{ativo.rentabilidade.nominal}}</td>
                    <td>{{ativo.rentabilidade.ponderada}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-warning">Calcular</button>
</div>
