<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Riscos em Carteira</h5>
          <p class="card-text">Possui a quantia que deseja investir, mas não sabe se a sua escolha esta correta?
              <br>
                    Clique no link abaixo e vamos calcular o quanto de risco sua carteira tende a ter!
          </p>
          <a [routerLink]="['/carteiras']" class="btn btn-warning">Calcule os riscos da sua carteira aqui!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Melhores carteiras</h5>
          <p class="card-text">Não sabe qual carteira montar? <br>
            <br>

            
                Vamos dar umas dicas sobre quais carteiras são uma boa pedida neste momento!</p>
          <a href="#" class="btn btn-warning">Consulte já!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ativos</h5>
          <p class="card-text">Pegando a lista:<br>
            <ul> 
              <li *ngFor="let ativo of listAtivos"> 
                {{ativo.Company}} - {{ativo.Stock}}
              </li>
            </ul>
            <button (click)="reloadPreviousAtivos($event)">Ant</button>
            <button (click)="reloadNextAtivos($event)">Prox</button>
        </div>
      </div>
    </div>
  </div>