<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Riscos em Carteira</h5>
          <p class="card-text">Possui a quantia que deseja investir, mas não sabe se a sua escolha esta correta?
                    Clique no link abaixo e vamos calcular o quanto de risco sua carteira tende a ter!
          </p>
          <a [routerLink]="['/carteiras']" class="btn btn-warning">Monte sua carteira aqui</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <table class="table">
          <thead>
                  <tr>
                      <th scope="col">Empresa</th>
                      <th scope="col">Valor Aberto</th>
                      <th scope="col">Valor Fechado</th>
                      <th scope="col">Alta <i class="icon-arrow-up text-success"></i></th>
                      <th scope="col">Baixa <i class="icon-arrow-down text-danger"></i></th>
                      <th scope="col"></th>
                  </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ativo of listAtivos">
                  <td>{{ativo.stock}}</td>
                  <td>{{ativo.open}}</td>
                  <td>{{ativo.close}}</td>
                  <td>{{ativo.high}}</td>
                  <td>{{ativo.low}}</td>
                  <td><button class="btn btn-warning" [routerLink]="['/historicolist']" [queryParams]="{stock: ativo.stock}">Ver histórico</button></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><button class="btn btn-warning" (click)="reloadPreviousAtivos($event)" >Ant</button></td>
                <td><button class="btn btn-warning" (click)="reloadNextAtivos($event)">Prox</button></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>